.about-me-container{
    width: 100%;
    height: fit-content;

    padding: 3vw 8vw;
    border-top: 0.5rem solid var(--header-background-color);
}

.about-me-container h3{
    font-size: 3rem;
}
.about-me-container h4{
    font-size: 2rem;
    text-decoration: underline;
}
.about-me-container p{
    font-size: 1.8rem;
}

.about-me-default-div-spacing{
    padding: 10px;
}
.about-me-default-text-spacing{
    padding: 0 10px;
}
.about-me-default-paragraph-spacing{
    padding-left: 20px;
    padding-bottom: 20px;
}

/*---------- Hard Skills ----------*/

.about-me-skills-container{
    width: 100%;
    height: fit-content;


    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.about-me-skill{
    height: 25px;
    width: 70%;
    min-width: 600px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-me-skill h3{
    font-size: 2rem;
    line-height: 1.35;
    flex-basis: 150px;
    margin-left: 10px;

    text-align: left;
}

.about-me-skill-bar-border{
    height: 100%;
    flex-basis: 100px;

    flex-grow: 1;
    border-radius: 10px;

    background-color: var(--portfolio-box-background-color);
    border: 0.5rem solid var(--header-background-color);

    display: flex;
    flex-direction: row;
}

.about-me-skill-bar-filling{
    height: 100%;

    border-radius: 5px;
    
    background-color: var(--text-highlight-color);
}

.C-sharp{
    width: 80%;
}
.HTMLCSS{
    width: 30%;
}
.Unity{
    width: 90%;
}
.Rider{
    width: 80%;
}
.VS{
    width: 60%;
}


/*---------- Soft Skills ----------*/
.about-me-softskills{
    width: 100%;
    height: fit-content;


    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 10px;
}
.about-me-softskill-box{
    width: fit-content;
    height: 60px;
    
    padding: 0px 20px;
    border-radius: 5px;
    border: 0.5rem solid var(--header-background-color);
    background-color: var(--portfolio-box-background-color);
}
.about-me-softskill-box p{
    font-size: 2.2rem;
    font-weight: 400;
    line-height: calc(60px - 1rem);
}

/*---------- Journey ----------*/
.about-me-journey{
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}
.about-me-step{
    width: 350px;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
}
.about-me-step h3{
    font-size: 2.3rem;
}
.about-me-step p{
    font-size: 1.5rem;
}
.studies{
    background-color: var(--pale-purple);
}
.work{
    background-color: var(--portfolio-box-background-color);
}

@media only screen and (max-width:600px){

    .about-me-container h3{
        font-size: 2.5rem;
    }
    .about-me-container h4{
        font-size: 1.8rem;
        text-align: center;
    }
    .about-me-container p{
        font-size: 1.6rem;
        text-align: center;
    }
    .about-me-default-div-spacing{
        padding: 10px 10px 10px 0;
    }
    .about-me-default-text-spacing{
        padding: 0;
    }
    .about-me-default-paragraph-spacing{
        padding-left: 0;
    }

    /*---------- Hard Skills ----------*/
    .about-me-skills-container{
        row-gap: 10px;
    }
    .about-me-skill{
        height: 43px;
        width: 100%;
        min-width: 0;
        flex-direction: column-reverse;
    }
    .about-me-skill h3{
        font-size: 1.8rem;
        line-height: 1.35;
        flex-basis: 150px;
        margin-left: 5px;
    }
    .about-me-skill-bar-border{
        border: 0.3rem solid var(--header-background-color);
    }
    
    /*---------- Soft Skills ----------*/

    .about-me-softskills{
        column-gap: 15px;
    }
    .about-me-softskill-box{
        height: 40px;
        padding: 0px 10px;
        border-radius: 5px;
        border: 0.3rem solid var(--header-background-color);
    }
    .about-me-softskill-box p{
        font-size: 1.5rem;
        line-height: calc(40px - 0.5rem);
    }

    /*---------- Journey ----------*/
    .about-me-journey{
        gap: 15px;
        flex-direction: column;
        align-items: center;
    }
    .about-me-step{
        width: 100%;
        min-width: 0;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px){
    /*---------- Soft Skills ----------*/
    .about-me-softskill-box{
        height: 50px;
        border-radius: 5px;
        border: 0.4rem solid var(--header-background-color);
    }
    .about-me-softskill-box p{
        font-size: 1.8rem;
        line-height: calc(50px - 0.5rem);
    }
    
    /*---------- Journey ----------*/
    .about-me-step{
        width: clamp(250px, 40%, 300px);        
    }
}