header{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
}

.header-main {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;

    background-color: var(--header-background-color);
}

.logo-title-section {
    height: calc(100% - 10px);
    min-width: max-content;
    margin: 5px 0px 5px 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.logo-title-section img {
    height: 100%;
}

.title-section {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.title-text{
    height: 100%;
    width: fit-content;
    margin-right: 5px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.title-text h2.important-h2 {
    font-size: 2rem;
    line-height: 2rem;
    color: var(--text-main-color);
    white-space: nowrap;
}
.title-text h2 {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bold;
    color: var(--text-main-color);
    white-space: nowrap;
}

.header-page-navigation{
    margin: 5px 5px 5px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 100px;
    flex-grow: 1;
}

.header-page-navigation ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.header-page-navigation ul li {
    display: block;
    height: 100%;
}

.header-page-navigation ul li a{
    display: flex;
    height: 100%;
    float: left;
    padding: 0 5px 0 5px ;
    align-items: center;

    font-weight: bold;
    color: var(--text-main-color);
    white-space: nowrap;
}
.header-page-navigation ul li a:hover{
    color: var(--text-highlight-color);
}

.header-main-sm,
footer .contact-container a{
    width: fit-content;
    height: calc(100% - 10px);
    padding: 0 10px 0 10px;
    margin: 5px 5px 5px 5px;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 10px;
}
.header-main-sm a,
footer .contact-container a{
    height: calc(100% - 10px);

}
.header-main-sm a:not(.sm-logo-li):hover{ /*remove not when linkedin account created*/
    height: 100%;
    transition: 200ms;
}

.sm-logo-gh {
    height: 100%;
    aspect-ratio: 1 / 1;

    background-image: url(../img/github-small.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}
.sm-logo-li {
    height: 100%;
    aspect-ratio: 1 / 1;

    background-image: url(../img/Linkedin-small.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /*cursor: pointer;*/
    filter: grayscale(100%);
}
.sm-logo-mail {
    height: 100%;
    aspect-ratio: 1 / 1;

    background-image: url(../img/gmail-small.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.header-lang-select {
    width: fit-content;
    height: calc(100% - 10px);
    padding: 0 10px 0 10px;
    margin: 5px 5px 5px 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}
.header-lang-select div{
    height: 100%;
    aspect-ratio: 1 / 1;

    border-radius: 100%;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}
.lang-fr {
    background-image: url(../img/fr-flag.png);
}
.lang-en {
    background-image: url(../img/eng-flag.png);
}

/*---------- Footer ----------*/

footer{
    padding: 5px 20px;
    background-color: var(--header-background-color);
}
footer .contact-container{
    width: 100%;
    height: 50px;
    float: bottom;

    display: flex;
    column-gap: 20px;
}
footer .contact-container h2{
    align-self: center;
    text-transform: uppercase;
}

.show-on-mobile-layout{
    display: none;
}

/* Mobile version */

@media only screen and (max-width: 600px){
    .header-main{
        justify-content: space-between;
    }
    
    .header-page-navigation{
        display: flex;
        flex-direction: column;
        margin: 0;
        background-color: var(--header-background-color);
    }
    .header-page-navigation .tools{
        height: 32px;
        display: flex;
        flex-direction: row;
    }
    .header-lang-select {
        height: 100%;
        padding: 0 10px 0 10px;
        margin: 0px 5px;

        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 10px;
    }
    .header-lang-select div{
        height: 100%;
        aspect-ratio: 1 / 1;

        border-radius: 100%;

        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        cursor: pointer;
    }

    .show-on-pc-layout{
        display: none;
    }
}