main{
    --header-height: clamp(40px, 5vw,60px);

    width: 100%;
    height: calc(80vh - var(--header-height));
    margin-top: var(--header-height);

    background-color: #1e1d20;
    background-image: url(../img/Aloys-Demagnee-back-shadow.png), url(../img/background.png);
    background-size: calc((80vh - var(--header-height)) * 0.9) auto, 100% auto;
    background-repeat: no-repeat, repeat-y;
    background-position: bottom, center;
    border-bottom: 0.5rem solid var(--header-background-color);

    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content:center;

    overflow: hidden;
}

main h1{
    font-size: 4.5rem;
    line-height: 1.25;
    max-width: 10rem;
    
}

main h2{
    font-size: 4rem;
    line-height: 1.25;
    overflow-wrap: break-word;
    hyphens: auto;
}

main p{
    font-size: 2rem;
    line-height: 1.75;
    max-width: 40rem;
}
main .p-quotation{
    font-size: 1.9rem;
    line-height: 1.75;
    font-style: italic;
    max-width: 30rem;
}
main .p-personnality{
    color: var(--text-subtil-color);
    font-size: 1.5rem;
    line-height: 1.5;
    font-style: italic;
}

main div{
    z-index: 1;
}

main .hero-section-presentation{
    width: 50vw;
    margin-top: 12vh;

    display: flex;
    align-items: end;
    justify-content: flex-end;
}
main .hero-section-presentation div{
    padding: 0 0 0 20px;
    border-left: 0.7rem solid var(--text-highlight-color);
    margin-right: clamp(10px,10vh, 8vw);
}

main .hero-section-quotations{
    width: 50vw;
    margin-top: 10vh;
}
main .hero-section-team-work, .hero-section-methodology{
    padding: 0 0 0 20px;
    border-left: 0.5rem solid var(--text-highlight-color);
}
main .hero-section-team-work{
    margin-left: 22vh;
}
main .hero-section-methodology{
    margin-left: calc(22vh + 60px);
    margin-top: 60px;
}

/* Mobile version */

@media only screen and (max-width: 600px){
    main{
        height: calc(100vh - var(--header-height) - 30px);
        margin-top: calc(var(--header-height) + 30px);
        width: 100%;

        position: relative;

        background-image: url(../img/Aloys-Demagnee-no-motif-back-shadow.png), url(../img/background.png);
        background-size: calc((90vh - var(--header-height)) * 0.9) auto, 100% auto;
        background-position: 60% bottom, center;

        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    main .hero-section-quotations{
        display: none;
    }

    main h1{
        font-size: 3rem;
        line-height: 1.25;
        text-align: center;
        max-width: 100%;
    }

    main p{
        font-size: 1.5rem;
        line-height: 1.75;
        text-align: center;
        max-width: 100%;
    }

    main .hero-section-presentation{
        width: 100%;
        margin: 5px 20px 20px 20px;

        max-width: none;
        display: flex;
        justify-content: center;
    }
    main .hero-section-presentation div{
        margin: 0;
        padding: 0;
        border-left: 0px;
        text-align: center;
    }
}

/* Tablet version */

@media only screen and (min-width: 601px) and (max-width: 768px){
    main h1{
        font-size: 2.5rem;
        line-height: 1.25;
        max-width: 10rem;
    }

    main h2{
        font-size: 2.1rem;
        line-height: 1.25;
        max-width: 15rem;
    }

    main p{
        font-size: 1.3rem;
        line-height: 1.75;
        max-width: 25rem;
    }
    main .p-quotation{
        font-size: 1.2rem;
        line-height: 1.75;
        max-width: 30rem;
    }
    main .p-personnality{
        font-size: 1.1rem;
        line-height: 1.5;
    }
    main .hero-section-methodology{
        margin-left: 22vh;
    }
}

/* Big tablet version */

@media only screen and (min-width: 769px) and (max-width: 992px){
    main h1{
        font-size: 2.5rem;
        line-height: 1.25;
        max-width: 10rem;
    }

    main h2{
        font-size: 2.1rem;
        line-height: 1.25;
        max-width: 15rem;
    }

    main p{
        font-size: 1.3rem;
        line-height: 1.75;
        max-width: 25rem;
    }
    main .p-quotation{
        font-size: 1.2rem;
        line-height: 1.75;
        max-width: 30rem;
    }
    main .p-personnality{
        font-size: 1.1rem;
        line-height: 1.5;
    }
    main .hero-section-methodology{
        margin-left: 22vh;
    }
}

/* Small screen version*/

@media only screen and (min-width: 993px) and (max-width: 1200px){
    main h1{
        font-size: 3rem;
        max-width: 10rem;
    }

    main h2{
        font-size: 2.5rem;
        max-width: 15rem;
    }

    main p{
        font-size: 1.5rem;
        max-width: 30rem;
    }
    main .p-quotation{
        font-size: 1.3rem;
        max-width: 30rem;
    }
    main .p-personnality{
        font-size: 1.1rem;
    }
    main .hero-section-methodology{
        margin-left: calc(22vh + 40px);
    }
}