body {
    background-color: #1e1d20;
}

.header-main {
    width: 100%;
    height: clamp(40px, 5vw,60px);
    display: flex;
    flex-direction: row;

    background-color: #131216;
}

.logo-title-section {
    height: calc(100% - 10px);
    min-width: max-content;
    margin: 5px 0px 5px 5px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.logo-title-section img {
    height: 100%;
}

.title-section {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.title-text{
    height: 100%;
    width: fit-content;
    margin-right: 5px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.title-text h1 {
    font-size: 20px;
    color: white;
    white-space: nowrap;
}
.title-text h2 {
    font-size: 10px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
}

.header-page-navigation{
    margin: 5px 5px 5px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 100px;
    flex-grow: 1;
}

.header-page-navigation ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.header-page-navigation ul li a{
    float: left;
    padding: 0 5px 0 5px ;

    font-weight: bold;
    color: white;
    white-space: nowrap;
}

.header-main-sm{
    width: fit-content;
    height: calc(100% - 10px);
    padding: 0 10px 0 10px;
    margin: 5px 5px 5px 5px;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 10px;
}
.header-main-sm a {
    height: clamp(25px, 3.5vw, 45px);

}
.header-main-sm a:not(.sm-logo-li):hover{ /*remove not when linkedin account created*/
    height: clamp(30px, calc(3.5vw + 5px), 50px);
    transition: 200ms;
}

.sm-logo-gh {
    height: 100%;
    aspect-ratio: 1 / 1;

    background-image: url(../img/github-small.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.sm-logo-li {
    height: 100%;
    aspect-ratio: 1 / 1;

    background-image: url(../img/Linkedin-small.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: grayscale(100%);
}

.vertical-bar{
    width: 2px;
    height: calc(100% - 6px);
    margin: 3px 5px 3px 5px;
    background-color: white;
}

.horizontale-bar{
    height: 1.5px;
    width: calc(100% - 6px);
    margin: 5px 3px 5px 3px;
    background-color: white;
}

/*----- Phone screen size addaptation -----*/

.hide-on-phone-size{
        display: block;
    }
    .show-on-phone-size{
        display: none;
    }

@media (max-width: 600px){
    .header-main{
        flex-direction: row;
        flex-wrap: wrap;
        align-items:  flex-start;
        justify-content: space-between;
    }

    .logo-title-section {
        order: 1;
    }

    .header-main-sm {
        order: 2;
        background-color: #131216;
    }

    .header-page-navigation{
        order: 3;
        min-width: 100%;

        flex-flow: column;

        height: 30px;
        background-color: #131216;
        margin: 0px;
    }

    .hide-on-phone-size{
        display: none;
    }
    .show-on-phone-size{
        display: block;
    }
}