:root{
    /*----- Colors -----*/
    --body-background-color: #1e1d20;

    --header-background-color: #131216;
    --portfolio-box-background-color: #2f2d31;

    --text-main-color:white;
    --text-subtil-color:#cecececc;
    --text-highlight-color:#d84ef7;

    --pale-purple: #9C819E;
}

@font-face {
    font-family: 'Jet Brain Mono';
    src: url(../Fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf);
    font-weight: 100 800;
    font-style: normal;
}
@font-face {
    font-family: 'Jet Brain Mono';
    src: url(../Fonts/JetBrains_Mono/JetBrainsMono-Italic-VariableFont_wght.ttf);
    font-weight: 100 800;
    font-style: italic;
}

@font-face {
    font-family: 'Rubiks';
    src: url(../Fonts/Rubik/Rubik-VariableFont_wght.ttf);
    font-weight: 100 800;
    font-style: normal;
}
@font-face {
    font-family: 'Rubiks';
    src: url(../Fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf);
    font-weight: 300 900;
    font-style: italic;
}